.container {
  max-width: 700px;
  height: 590px;
  margin: 0 auto;
  padding: 0 auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px;
  font-family: fantasy;
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(238, 234, 234);
  background-image: url("src/pic2.png");
}

.card-title {
  color: white;
  font-size: 18px;
  }
  
.row {
  display: flex;
  margin-left: -12px;
 }
 

.temp {
  position: relative;
  left: 10px;
  bottom: 15px;
  color: white;
  font-size: 14px;
}
img {
  position: relative;
  color: rgb(10, 79, 93);
  font-size: 30px;
  font-size: 45px;
  bottom: 30px;
  width: 60px;
  }
  #main-icon {
    width: 150px;
  }

h5 {
position: relative;
left: 550px;
bottom: 120px;
font-size: 30px;
line-height: 1;
margin: 0;
padding: 0;
}
.description {
  position: relative;
  left: 550px;
  bottom: 110px;
  font-size: 13px;
}
.humidity {
  position: relative;
  left: 30px;
  bottom: 160px;
  font-size: 18px;
  color: rgb(140, 140, 140);
}
.rain {
  position: relative;
  left: 30px;
  bottom: 160px;
  font-size: 18px;
  color: rgb(140, 140, 140);
}
.wind {
  position: relative;
  left: 30px;
  bottom: 160px;
  font-size: 18px;
  color: rgb(140, 140, 140);
}
.search {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;  
}
button {
border-radius: 10px;
border: none;
padding-top: 7px;
margin-right: 370px;
width: 4rem;
font-size: 18px;
outline: none;
}
button:focus {
  outline: none;
}
button:hover {
  opacity: 0.9;
  box-shadow: 0 5px 15px;
  color: black;
}
#glass {
  color: black;
  outline: none;
  font-size: 20px;
}

.search-bar {
border-radius: 18px;
padding: 0.7rem;
border: none;
color: white;
background-color: darkgrey;
outline: none;
}
.search-bar:hover {
  opacity: 0.9;
  box-shadow: 0 5px 15px;
  color: black;
}
h1 {
  color: rgb(225, 225, 14);
  padding: 0;
  position: relative;
  left: 400px;
  font-size: 150px;
  line-height: 1;
  margin: 0;
} 

h2 {
  font-size: 36px;
  padding-left: 40px;
}
h3 {
  position: relative;
  font-size: 12px;
  left: 70px;
  bottom: 13px;
}
.days {
  font-size: 18px;
}
.days:hover {
color: rgb(14, 14, 14);
}
.card-body {
  border: none;
  height: 8rem;
  width: 5.3rem;

}
.card-body:hover {
 opacity: 0.9;
 box-shadow: 0 5px 15px;
 color: white;
  border-radius: 18px;
}
